body{
font-family: 'Courier New', Courier, monospace;
}
 .navbar{
    background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.3),rgba(191, 146, 112, 0.2));
       
 }
header{
      font-family: Georgia, 'Times New Roman', Times, serif;
}
.one:hover{
    background-color: #30475E;
    font-size: large;
    width: 75px;
    height: 40px;
    background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.3),rgba(214, 27, 90, 0.2));

}
.one:visited{
    background-color: #30475E;
    background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.3),rgba(214, 27, 90, 0.2));
}
.footer{
    background-color: rgb(98, 101, 104);
    font-size: smaller;
    /* position: relative; */
     bottom: 0px; 
    left: 0px;
    width: 100%;
    margin-top: 50px;
    color: white;

}
.list li{
    list-style: none;
    display: inline-block;
    letter-spacing: 4px;
    text-align: center;
    
}
.list i{
    color: rgb(6, 16, 153);
    width: 20px;
    margin-left: -8px;
    margin-bottom: 5px;
}
.first-col h4{
font-size: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
word-spacing: 5px;
letter-spacing: 2px;
text-align: center;
}
.first-col h5{
    font-size: 13px;
    text-align: center;
}
.col-4 li{
    list-style: none;
}
.main-image1{
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}

.middle{
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
}
.txt{
  position: absolute;
  color: white;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container2{
    width: 500px;
    height:300px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container2:hover .image .text1{
    opacity: 1;

    
}
.container3{
    margin-top: 50px;
}
.container2:hover .middle{
    opacity: 1;
    width: 100%;
    left: 0;
}

  .base img {
    width: 700px;
    height: 750px;
  }
  .cover img {
    object-fit: cover;
  }
  .container3:hover .image{
    opacity: 1;
  }
  .container3:hover .middle{
    opacity: 0.4;
}
.first-main-col{
    border: white;
   padding-right: 2px;
}
.second-main-col{
    border: white;

   
}
.third-main-col{
    border: white;

    
}
.base2 img{
 display: block;
 margin: auto;
}
.base2{
    margin-top: 60px;
    margin-bottom: 60px;
}
.first-main-col:hover , .first-main-col:active{
    font-size: 110%;
    background-color: rgb(126, 138, 151);
    color: white;
}
.second-main-col:hover , .second-main-col:active{
    font-size: 110%;
    background-color: rgb(126, 138, 151);
    color: white;
}
.third-main-col:hover , .third-main-col:active{
    font-size: 110%;
    background-color: rgb(126, 138, 151);
    color: white;
}
.base2 p {
    margin-top: 20px;
}
.base2 img{
    margin-top: 5px;
    width: 417px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;

}

.button{
    text-align: center;
    margin-left: 145px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
    border: white;

}
.button:hover{
    background-color:rgb(48, 71, 94);
    border: white;
    color: white;
    
}
.baslik{
    width: 300px;
    height: 40px;
    background-color: rgb(48, 71, 94);
    margin: auto;
    margin-top: 60px;
    font-size: 25px;
    color: white;
    text-align: center;
    box-shadow: 2px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.parallax{
    background-image: url("/img/road.jpg");
    margin-bottom: 60px;
position: relative;

  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.txt2{
    background-color: white;
  color: black;
  font-size: 100px; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 30%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-weight: 80px;
}
.container4 {
    position: relative;
    width: 50%;
    float: left;
  }
  
  .imp {
    display: block;
    width: 700px;
    height: auto;
    margin:auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #62757a;
  }
  
  .container4:hover .overlay {
    opacity: 0.6;
  }
  
  .aab {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
